.Modal {
  position: fixed;
  top: 200px;
  left: 300px;
  z-index: 3;
  padding: var(--spacing-l);
  background: #fff;
  border: 1px solid var(--color-blue-light);
  border-radius: var(--spacing-xs);
  width: 400px;
  left: 50%;
  margin-left: -200px;
}

.Modal-close {
  position: absolute;
  top: var(--spacing-l);
  right: var(--spacing-l);
  cursor: pointer;
}
