:root {
  /* colors */
  --color-blue-lightest: #e9eff3;
  --color-blue-light: #486b85;
  --color-blue-medium: #123855;
  --color-blue-dark: #04243D;
  --color-grey-light: #e1e1e1;
  --color-grey-medium: #ccc;
  /* spacings */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-l: 12px;
  --spacing-xl: 18px;
  /* fonts*/
  --font-size-s: 12px;
  --font-size-l: 18px;
  /* others */
  --border-radius: 4px;
}
