.FilmForm .Button {
  margin-top: var(--spacing-l);
}

.FilmForm-input {
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-blue-light);
  width: 97%;
  font-size: var(--font-size-l);
  padding: var(--spacing-xs);
  margin-bottom: var(--spacing-l);
  font-weight: lighter;
}

.FilmForm-title {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-l);
}
