.LoginForm-input {
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid #83beb6;
  width: 97%;
  font-size: var(--font-size-l);
  padding: var(--spacing-xs);
  margin-bottom: var(--spacing-l);
  font-weight: lighter;
}

.LoginForm-attr {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-l);
}
