.List {
  margin-top: var(--spacing-l);
  border-radius: var(--border-radius);
  padding: var(--spacing-l);
  background-color: var(--color-grey-light);
}

.List-headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.List-title {
  margin: 0;
}

.List-count {
  font-size: 14px;
  font-weight: normal;
}

.List-wrapper {
  padding: 0;
  margin-top: var(--spacing-l);
}

.List > .Button {
  position: absolute;
  top: var(--spacing-l);
  right: var(--spacing-l);
}

@media screen and (min-width: 1200px) {
  .List {
    width: calc(50% - 30px);
  }
}