.Header {
  border-radius: var(--border-radius);
  padding: var(--spacing-l);
  position: relative;
  background-color: var(--color-grey-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-title {
  margin: 0;
}

.Header-pickedFilm {
  margin: 0;
  font-size: var(--font-size-l);
}

.Header-pickedFilmName {
  font-weight: bold;
}
